.host {
  display: flex;
}

.state {
  font-size: 15px;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.success {
  color: var(--color-mmio-green);
}

.warning {
  color: var(--color-mmio-orange);
}

.error {
  color: var(--color-mmio-red);
}

.icon {
  font-size: 12px;
}

.value {
  margin-left: 10px;
  color: var(--color-text-dimmed);
}

.animationBox {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  animation: rotation 1s linear infinite;
}

.blink {
  animation: blink 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
